# Repos installed
CMSSW_11_3_4
DifferentialCombinationPostProcess
DifferentialCombinationRun2
EFTModelsStudies
EFTScalingEquations
.built.txt
install_dir
outputs
outputs*
*.log
tries

# Python
*.py[cod]
__pycache__/
venv/
htmlcov/
.tox/
.coverage
.coverage.*
.mypy_cache/
*egg-info/

# Editors
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace
.idea/

# Misc
.DS_Store
.logs
